%form{:action => '/user', :method => 'post'}
  %label{:for => 'name'} Name:
  %input{:type => 'text', :name => 'name', :id => 'name'}/
  %br/

  %label{:for => 'extension'} Extension:
  %input{:type => 'text', :name => 'extension', :id => 'extension'}/
  %br/

  %label{:for => 'trunk'} Trunk:
  %input{:type => 'text', :name => 'trunk', :id => 'trunk'}/
  %br/

  %label{:for => 'callerid_name'} CallerID Name:
  %input{:type => 'text', :name => 'callerid_name', :id => 'callerid_name'}/
  %br/

  %label{:for => 'callerid_number'} CallerID Number:
  %input{:type => 'text', :name => 'callerid_number', :id => 'callerid_number'}/
  %br/

  %label{:for => 'password'} Password:
  %input{:type => 'password', :name => 'password', :id => 'password'}/
  %br/

  %input{:type => 'submit', :value => 'Add User'}